<h1 class="m-4">Pasarela de pago</h1>
<div class="m-4 text-align-center">
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-floating">
                <div class="form-control" #cardNumber></div>
                <label>Number</label>
            </div>
        </div>
    </div>

    
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-floating">
                <div class="form-control" #cardExpiry></div>
                <label>Expiry Date</label>
            </div>
        </div>
    </div>

    
    <div class="row mb-3">
        <div class="col-6">
            <div class="form-floating">
                <div class="form-control" #cardCvc></div>
                <label>CVC</label>
            </div>
        </div>
    </div>


    <div>
        <button class="btn btn-success w-50" (click)="submitPayment()"> Pagar</button>
    </div>


   
</div>


<router-outlet></router-outlet>
